/build/
/test/
/tests/
.babelrc
.eslintignore
.gitignore
db.sqlite
/temp/
/example-bots/
/example-skills/
/screenshots/
/*.js
sample.env
.env
.editorconfig
.travis.yml
webpack.config.babel.js
yarn.lock
/bin/

